<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<title><%=gameName%></title>
	<script type="text/javascript" src="/js/pixi.min.js"></script>
	<script type="text/javascript" src="/js/socket.io.dev.js"></script>
	<script type="text/javascript" src="/js/queenbridge.js"></script>
</head>
<!-- <body bgcolor="#000000" style='overflow: hidden'> -->
<body bgcolor="#FFFFFF">
	<script>
		var gameParams = "<%=gameParams%>";
	</script>
	<script type="text/javascript" src="js/<%=gameName%>/<%=gameName%>.js"></script>
</body>
</html>
